body {
    margin: 0;
    padding: 0;
    background-color: #1F2937; 
    box-sizing: border-box;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
   }
   
.main-text{
   color: white;
   margin-top: 20px;
   margin-bottom: 5px;

  }
   
p {
  color: #D5D4D8;
  margin: 0px;
  }  
   
.green {
  color: #4ADF86;
  }
      
.generator {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 40px 0px;
}

#generator {
  background-color: #10B981;
  border: 1px solid black;
  border-radius: 10px;
  color: white;
  width: 190px;
  height: 42px;
  font-size: 18px;
  }

#display-lenght {
  background-color: #10B981;
  border: 1px solid black;
  border-radius: 10px;
  color: white;
  width: 70px;
  height: 40px;
  font-size: 18px;
  text-align: center;
  align-content: center;
  }
   



.passwords {
  margin: 5px;
  background-color: #273549;
  border: 1px solid black;
  border-radius: 10px;
  color: #55F991;
  font-size: 18px;
  padding: 10px;
  }

#pass-lenght {
  color: white;


}
   
