body {
    margin: 0;
    background-color: #1F2937; 
   }
   
   .main-text{
     color: white;
   }
   
   p {
     color: #D5D4D8;
   }  
   
   .green {
     color: #4ADF86;
   }
   
   #pass-lenght,#generator {
     width: 150px;
     margin-bottom: 50px;
   }
   
   
   