body {
    margin: 0;
    background-color: #1F2937; 
    box-sizing: border-box;
    text-align: center;
   }
   
.main-text{
   color: white;
  }
   
p {
  color: #D5D4D8;
  }  
   
.green {
  color: #4ADF86;
  }
      
  
#generator {
  background-color: #10B981;
  border: 1px solid black;
  border-radius: 10px;
  color: white;
  width: 190px;
  height: 42px;
  font-size: 18px;
  }

#display-lenght {
  background-color: #10B981;
  border: 1px solid black;
  border-radius: 10px;
  color: white;
  width: 190px;
  height: 42px;
  font-size: 18px;
  }
   
.passwords {
  margin: 5px
  }

.passwords {
  background-color: #273549;
  border: 1px solid black;
  border-radius: 10px;
  color: #55F991;
  font-size: 18px;
  padding: 10px;
  }

#pass-lenght {
  color: white;


}
   
